<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trolley Tracker</title>
    <style>
              #map { width: 600px; height: 400px; }
    </style>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <script src="http://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <div id="controls">
        <button id="showroute" onclick="javascript:hideTrolleyPaths(oMap); drawTrolleyPath(oMap, 'route_1'); routeDisplay[1] = true;">Show Route 1</button>
				<button id="showroute" onclick="javascript:hideTrolleyPaths(oMap); drawTrolleyPath(oMap, 'route_2'); routeDisplay[2] = true;">Show Route 2</button>
        <button id="hideroute" onclick="javascript:hideTrolleyPaths(oMap);">Hide Route</button>
				<button id="showstops" onclick="javascript:showStops(oMap, stops); jQuery('#showstops').hide(); jQuery('#hidestops').show();">Show Stops</button>
				<button id="hidestops" style="display: none;" onclick="javascript:hideStops(oMap, stops); jQuery('#hidestops').hide(); jQuery('#showstops').show();">Hide Stops</button>
        Trolley#: <input type="text" size="1" id="trolleytotrack" onchange="javascript:trolleyToTrack = jQuery('#trolleytotrack').val();" value=5>
    </div>
    <div id="getupdate" style="display: none;">Checking Location...</div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
    <script type="text/javascript" src="/static/trolleytracker/dummydata.js"></script>
		<script type="text/javascript" src="/static/trolleytracker/dummydata2.js"></script>
		<script type="text/javascript" src="/static/trolleytracker/dummystops.js"></script>
    <script type="text/javascript">
      var oMap; // map object
      var currentPosMarker;
      var trolleys = {};
      var routes = {};
			var stops = {};
			var routeDisplay = [false, false];
      var checkTimer;
      var trolleyToTrack = 5; //init to five because it's our test phone one, also set above

      function initMap(data){
        console.log("lat: " + data.lat, "lng: " + data.lng);
        window.oMap = L.map('map').setView([data.lat, data.lng], 13);
        L.AwesomeMarkers.Icon.prototype.options.prefix = 'fa';
        L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
          id: 'examples.map-i875mjb7'
        }).addTo(oMap);

        getTrolleyLocation(oMap, trolleyToTrack);
        getUserLocation(oMap);
      }

      function getTrolleyLocation(map, trolley){
        $ = jQuery;
        clearTimeout(checkTimer);
        $('#getupdate').show();
        $.ajax({
            url: '/trolley/update/?id=' + trolley,
            type: 'get',
            dataType: 'json',
            crossDomain: true,
            success: function (data) {
              console.log("success!", data);

              //remove existing trolley marker for the one we're updating
              if (trolleys[data.who] != undefined) {
                map.removeLayer(trolleys[data.who].mapMarker);
              }

              //console.log(data.where.lat);
              //console.log(data.where.lon);
              var trolleyMarker = L.AwesomeMarkers.icon({
                icon: 'bus',
                markerColor: 'red'
              });
              var oMapMarker = L.marker([data.where.lat, data.where.lon], {
                icon: trolleyMarker
              })
              .addTo(map)
              .bindPopup("<p><b>Trolley #" + data.who + "</b><br />Last Seen " + moment(data.when).fromNow() + "</p>");

              //add the data to the trolleys object
              trolleys[data.who] = {
                agentData: data,
                mapMarker: oMapMarker
              }
            },
            complete: function(data) {
              //set the next call for 5 seconds
              checkTimer = setTimeout(function(){getTrolleyLocation(oMap, trolleyToTrack);}, 5000);
               $('#getupdate').hide();
            }
          });
      }

      function buildRoute(data, route_name) {
        //data is an array of lat/lon objects
        //[{lat:1, lon:1}, {lat:2, lon:2}, ...]

        var pointList = [];
        data.forEach(function(loc, index, array){
          pointList.push(new L.LatLng(loc.lat, loc.lon));
        });

        var routePolyLine = new L.Polyline(pointList, {
          color: 'red',
          weight: 3,
          opacity: 0.5,
          smoothFactor: 1
        });

        //store the new polyline in the routes object
        routes[route_name] = routePolyLine;
      }

			function buildStops(stoplocs) {
				stoplocs.forEach(function(loc, index, array) {
					var stopMarker = L.AwesomeMarkers.icon({
						icon: 'chevron-circle-down',
						markerColor: 'green'
					});
					
					var oMapMarker = L.marker([loc.lat, loc.lon], {
						icon: stopMarker
					});

					stops[index] = oMapMarker;
				});
			}
			
			function showStops(map, showStops) {
				//showstops is an object that has numbered stop markers
				//showstops.1 = marker
				//this is because the stops don't have names yet

				for (var stop in showStops) {
					showStops[stop].addTo(map).bindPopup("<p><b>Stop #" + stop + "</b></p>");			
				}
			}
			
			function hideStops(map, hideStops) {
				//hideStops is an object that has numbered stop markers
				//hideStops.1 = marker
				//this is because the stops don't have names yet

				for (var stop in hideStops) {
					map.removeLayer(hideStops[stop]);			
				}
			}
	  
      function drawTrolleyPath(map, route_name) {
        routes[route_name].addTo(map);
      }
      
      function hideTrolleyPaths(map) {
				routeDisplay.forEach(function(route, index, array) {
					if (route) {
						map.removeLayer(routes['route_' + index]);
					}
				});
      }
      /** 
       * Attempt to geolocate the user through the browser, and, if 
       * successful, add a pin for the user's current location and
       * add a pin on it
       */
      function getUserLocation(map){
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position){
            console.log(position.coords.latitude + "," + position.coords.longitude);
            oMap.setView([position.coords.latitude, position.coords.longitude], 16);
            var userPositionMarker = L.AwesomeMarkers.icon({
              icon: 'star',
              markerColor: 'green'
            });

            currentPosMarker = L.marker([position.coords.latitude, position.coords.longitude],{
              icon: userPositionMarker
            })
              .addTo(map)
              .bindPopup("<b>You are here!</b>");
          });
        }
      }
      
      (function($){
        
        initMap({lat: 34.852432, lng: -82.398216});
        buildRoute(dummydata, "route_1");
				buildRoute(dummydata2, "route_2");
				buildStops(dummystops);
        // // Provide your access token
        // L.mapbox.accessToken = 'pk.eyJ1IjoiZGFjb2hlbmlpIiwiYSI6IjM0MTIxYWI5MmU1YmQzOTA3Zjg1Y2NkYmZjM2EzZjFlIn0.3sC5DcabtrGZ72WcF0EeDA';
        // // Create a map in the div #map
        // L.mapbox.map('map', 'mapbox.streets');
      })(jQuery);
        
    </script>
  </body>
</html>